* {
  margin: 0;
  padding: 0;
}

.Header_Navbar{
  background-color: red;
  display: flex;
  flex-direction: row;
}

.Header_Navbar > li {
  padding: 20px;
  text-decoration: none;
  list-style: none;
}

.Steps_container {
  padding: 20px;
  background-color: mediumaquamarine;
}

.Content_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  background-color: grey;
}

.canves_container {
  display: flex;
  flex-direction: column;
}